html, body {
  height: 100%;
  text-align: center;
}

.container {
  margin-top: 10px;
  display: table;
  height: 100%;
}

.center-row {
  min-width: 960px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#sub-title {
  margin-top: 3em;
  border-top: .2em dotted;
  border-bottom: .2em dotted;
  letter-spacing: 0.1em;
}

.logo .sub-title {
  font-size: 2em;
  font-family: 'athelasregular';
}

.logo {
  color: #222;
}

.logo .name {
  font-family: 'athelasregular';
  font-size: 5em;
  letter-spacing: 0.1em;
  margin-bottom: -0.2em;
}

.logo .title {
  font-family: 'AvenirBook';
  font-size: 2em;
  letter-spacing: 0.1em;
}

.links {
  font-size: 2em;
  position: absolute;
  margin-right: 1em;
  margin-top: .3em;
  right: 0;
}

#cv {
  font-family: 'athelasregular';
  margin: 15em;
  text-align: left;
}

@media only screen and (max-device-width: 480px) {
  .links {
    font-size: 4em;
  }
}

.icon-badge {
  padding-top: 0.5em;
  font-size: .5em;
  font-weight: bolder;
  font-family: 'Sansita One', 'cursive';
}

.link-icon {
  width: 1em;
  height: 1em;
  line-height: normal;
  vertical-align: middle;
}

.links a {
  color: #444;
  text-decoration: none;
}

.links a:visited {
  color: #555;
}

.links a:hover {
  color: #A53C05;
}
