html, body {
  height: 100%;
  text-align: center;
}

.container {
  margin-top: 10px;
  display: table;
  height: 100%;
}

.center-row {
  min-width: 960px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.logo .sub-title {
  font-size: 2em;
}

.logo {
  font-family: 'Della Respira', serif;
  color: #111;
}

.logo .name {
  display: inline-block;
  font-size: 5em;
}

.logo .title {
  display: inline-block;
  font-size: 2em;
}

.links {
  font-size: 2em;
  position: absolute;
  margin-right: 1em;
  margin-top: .3em;
  right: 0;
}

@media only screen and (max-device-width: 480px) {
  .links {
    font-size: 4em;
  }
}

.icon-badge {
  padding-top: 1.7em;
  font-size: .3em;
  font-weight: bold;
}

.link-icon {
  width: 1em;
  height: 1em;
  line-height: normal;
  vertical-align: middle;
}

.links a {
  color: #444;
  text-decoration: none;
}

.links a:visited {
  color: #555;
}

.links a:hover {
  color: #A53C05;
}
