@font-face {
    font-family: 'athelasregular';
    src: url('athelas-regular-webfont.eot');
    src: url('athelas-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('athelas-regular-webfont.woff2') format('woff2'),
         url('athelas-regular-webfont.woff') format('woff'),
         url('athelas-regular-webfont.ttf') format('truetype'),
         url('athelas-regular-webfont.svg#athelasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBook';
    src: url('avenir-book.eot');
    src: url('avenir-book.eot') format('embedded-opentype'),
         url('avenir-book.woff2') format('woff2'),
         url('avenir-book.woff') format('woff'),
         url('avenir-book.ttf') format('truetype'),
         url('avenir-book.svg#AvenirBook') format('svg');
}
